@import "../reset.css";
@import "../layout.css";
@import "../top.css";

@import "./canvas.css";

@import "./list_tool.css";
@import "./list_layer.css";
@import "./list_tab.css";

@import "./scrubber.css";
@import "./panel.css";

@import "./palette.css";


@import "./theme.css";

@import "./list_history.css";

@import "./wip.css";




main-body {
	flex-grow: 1;
	overflow: scroll;
}



main {
	overflow: hidden;
}


a {
    padding: 0 8px;
}

h {
	padding: 0 8px;

	height: 32px;
	line-height: 32px;
}

h {
	padding: 0;
}

h {
	display: block;
	line-height: 32px;
}

h {
	display: flex;
	max-width: 260px;
}

h[data-label]::after {
	content: "(" attr( data-label ) ")";
	padding-right: 8px;
	text-align: right;
	flex-grow: 1;
	min-width: 0;
}






menu {
	width: 260px;
}



main {
	display: flex;
	flex-direction: column;
}

main > panel-body {
	flex-grow: 1;
	overflow: scroll;
}






menu > page {
	display: block;
}




side {
	display: flex;
	flex-direction: column;
}

li {
	position: relative;
}


/* li > a[data-label]::after {
	content: "(" attr( data-label ) ")";
	position: absolute;
	right: 0;
	line-height: inherit;
	padding-right: 8px;
	top: 0;
} */













body {
	-webkit-user-select: none; user-select: none;
}

main > h {
	display: flex;
	width: 100%;
	max-width: 100%;
}

tl {
	flex-grow: 1;
}

tl > li[active]::after {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background: #F6E;
	position:absolute;
	bottom: -1px;
}





tl {
	display: flex;
}

tl > li > a {
	display: block;
	height: 100%;
}


tl > li:not([active]) > a:hover {
	background: #FFE8FC
}

tl > li[active] > a,
tl > li:not([active]) > a:active {
	background: #FFD1FA;
}







h > tl + a:hover,
h > tl + a:active {
	background: #000;
	color: #FFF;
}

h > tl + a:active {
    transform: scale(0.95);
}




h > tl {
	flex-grow: 1;
}













main {
	display: grid;
	grid-template-rows: 32px 1fr 32px;
}

main-body {
	min-height: 0;
}




main,
body {
	overflow: hidden;
}

main {
    min-height: 0;
}


main-body {
	flex-grow: 0;
	min-height: 0;
}







menu {
	height: calc( 100vh - 32px );
	overflow: hidden;
}

menu > * {
	min-height: 0;
	flex-shrink: 0;

}

menu > page:last-child {
	flex-shrink: 1;
}


menu {
	display: flex;
	flex-direction: column;
}


main {
	display: flex;
}

main-body {
	flex-grow: 1;
}


menu > h,
menu > page > h,
side > page > h {
	padding-left: 8px;
}








h {
    display: flex;
}

h > t {
    flex-grow: 1;
}




ul.button-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	line-height: 40px;
	text-align: center;
}






ul.button-list > li > a:not([disabled]):hover,
ul.button-list > li > a:not([disabled]):active {
	background: #000;
	color: #FFF;
}

ul.button-list > li > a:not([disabled]):active {
	transform: scale( 0.95 );
}


a[disabled] {
	color: #AAA;
}

label[disabled] {
	color: #AAA;
}








top tl {
    display: flex;
    flex-direction: row;
}








ul.layer-list > li {
	display: block;
}

ul.layer-list > li > a[data-label]::after {
	content: attr( data-label );
}



canvas#canvas-preview {
	width: 256px;
	height: 256px;
	margin-left: 2px;
}









side page {
	width: 260px;
}

menu h:not(:first-child),
menu page + page,
side page + page {
	border-top: 1px solid var( --color-border );
}

menu > page > p {
	padding: 0 8px;
	text-wrap: nowrap;
}

menu > page > p {
	display: grid;
	grid-template-columns: min-content auto;
	line-height: 32px;
	margin-bottom: 8px;
}

menu > page > p > label {
	margin-right: 8px;
}

menu > page > p > span {
	text-align: right;
}

menu > page > p > input[type=range] {
	grid-column: 1 / span 2;
}








/* canvas#preview {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEX////Z2dl4b8nnAAAADElEQVQI12NwYGgAAAFEAMHrWQMJAAAAAElFTkSuQmCC);
    background-size: 8px;
    image-rendering: pixelated;
} */

canvas#preview {
	/* background: #F2F2F2; */
}



ul#layer {
	min-height: 320px;
	max-height: 320px;
	overflow-y: scroll;
}




ul#layer li {
	height: 40px;
	text-wrap: nowrap;
}




page[hidden] {
	display: none !important;
}

canvas#preview {
	margin-left: 2px;
}

































body.focus menu h {
	display: none;
}

body.focus menu {
	height: 100vh;
}

body.focus ul#layer {
	overflow: hidden;
}

body.focus ul#layer li a {
	padding-left: 8px;
}



body.focus ul#layer + ul.button-list {
	display: none;
}

body.focus page#page-tool + page {
	display: none;
}


body.focus p#page-history {
	display: none;
}

body.focus page#page-file > p:first-child {
	display: none;
}





menu > page > p:first-child {
	border-top: 1px solid var( --color-border );
}

tray {
	height: 320px;
	border-top: 1px solid var( --color-border );
}


tl {
	flex-grow: 0;
	height: 32px;
	line-height: 32px;
}

tl ~ page:not([active]) {
	display: none !important;
}

menu > page {
	flex-grow: 1;
}

page#page-history > panel-body {
	flex-grow: 1;
}



body.focus menu tl {
	display: none;
}





div.canvas {
	background-attachment: fixed;
}

main-body {
	overflow: hidden;
}

div.canvas {
	overflow: auto;
}



body.file-none menu#menu,
body.file-none main,
body.file-none side,
body.file-none top traffic {
	display: none;
}

body:not( .file-none ) menu#menu-none {
	display: none;
}

menu > page > p {
	width: 260px;
	overflow: hidden;
}

menu > page > p > label + span {
	width: 0;
}

button {
	padding: 0 8px;
	line-height: 32px;
	margin-left: 2px;
}

button.ok,
button.cancel {
	background: #07D;
	color: #FFF;
	float: right;
}

button.ok:hover {
	background: #000;
}

button.cancel:hover {
	background: #E81123;
}

button.ok:hover:active,
button.cancel:hover:active {
	transform: scale( 0.96 );
}
