@import "../reset.css";
@import "../layout.css";
@import "../top.css";

@import "./canvas.css";

@import "./list_tool.css";
@import "./list_layer.css";
@import "./list_tab.css";

@import "./scrubber.css";
@import "./panel.css";

@import "./palette.css";


@import "./theme.css";

@import "./list_history.css";

@import "./wip.css";




main-body {
	flex-grow: 1;
	overflow: scroll;
}



main {
	overflow: hidden;
}


a {
    /* padding: 0 8px; */
}

h {
	padding: 0 8px;

	height: 32px;
	line-height: 32px;
}

h {
	padding: 0;
}

h {
	display: block;
	line-height: 32px;
}

h {
	display: flex;
	max-width: 260px;
}

h[data-label]::after {
	content: "(" attr( data-label ) ")";
	padding-right: 8px;
	text-align: right;
	flex-grow: 1;
	min-width: 0;
}



tl > li > a {
	padding: 0 8px;
}




menu {
	width: 260px;
}



main {
	display: flex;
	flex-direction: column;
}

main > panel-body {
	flex-grow: 1;
	overflow: scroll;
}






menu > page {
	display: block;
}




side {
	display: flex;
	flex-direction: column;
}

li {
	position: relative;
}


/* li > a[data-label]::after {
	content: "(" attr( data-label ) ")";
	position: absolute;
	right: 0;
	line-height: inherit;
	padding-right: 8px;
	top: 0;
} */













body {
	-webkit-user-select: none; user-select: none;
}

main > h {
	display: flex;
	width: 100%;
	max-width: 100%;
}

tl {
	flex-grow: 1;
}

tl > li[active]::after {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background: #F6E;
	position:absolute;
	bottom: 0
}





tl {
	display: flex;
}

tl > li > a {
	display: block;
	height: 100%;
}


tl > li:not([active]) > a:hover {
	background: #FFE8FC
}

tl > li[active] > a,
tl > li:not([active]) > a:active {
	background: #FFD1FA;
}
h > t {
	padding-left: 8px;
}







h > tl + a:hover,
h > tl + a:active {
	background: #000;
	color: #FFF;
}

h > tl + a:active {
    transform: scale(0.95);
}




h > tl {
	flex-grow: 1;
}













main {
	display: grid;
	grid-template-rows: 32px 1fr 32px;
}

main-body {
	min-height: 0;
}




main,
body {
	overflow: hidden;
}

main {
    min-height: 0;
}


main-body {
	flex-grow: 0;
	min-height: 0;
}







menu {
	height: calc( 100vh - 32px );
	overflow: hidden;
}

menu > * {
	min-height: 0;
	flex-shrink: 0;

}

menu > page:last-child {
	flex-shrink: 1;
}


menu {
	display: flex;
	flex-direction: column;
}


main {
	display: flex;
}

main-body {
	flex-grow: 1;
}


menu h,
menu page h,
side page h {
	padding-left: 8px;
}








h {
    display: flex;
}

h > t {
    flex-grow: 1;
}




ul.button-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	line-height: 40px;
	text-align: center;
}






ul.button-list > li > a:not([disabled]):hover,
ul.button-list > li > a:not([disabled]):active {
	background: #000;
	color: #FFF;
}

ul.button-list > li > a:not([disabled]):active {
	transform: scale( 0.95 );
}


a[disabled] {
	color: #AAA;
}

label[disabled] {
	color: #AAA;
}








top tl {
    display: flex;
    flex-direction: row;
}








ul.layer-list > li {
	display: block;
}

ul.layer-list > li > a[data-label]::after {
	content: attr( data-label );
}



canvas#canvas-preview {
	width: 256px;
	height: 256px;
	margin-left: 2px;
}









side page {
	width: 260px;
}

/* menu h:not(:first-child), */
menu pane + pane,
menu page + page,
side page + page {
	border-top: 1px solid var( --color-border );
}

menu page p {
	padding: 0 8px;
	text-wrap: nowrap;
}

menu page p {
	display: grid;
	grid-template-columns: min-content auto;
	line-height: 32px;
	margin-bottom: 8px;
}

menu page p > label {
	margin-right: 8px;
}

menu page p > span {
	text-align: right;
}

menu page p > input[type=range] {
	grid-column: 1 / span 2;
}








/* canvas#preview {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEX////Z2dl4b8nnAAAADElEQVQI12NwYGgAAAFEAMHrWQMJAAAAAElFTkSuQmCC);
    background-size: 8px;
    image-rendering: pixelated;
} */

canvas#preview {
	/* background: #F2F2F2; */
}



ul#layer {
	min-height: 320px;
	max-height: 320px;
	overflow-y: scroll;
}




ul#layer li {
	height: 40px;
	text-wrap: nowrap;
}




page[hidden] {
	display: none !important;
}

canvas#preview {
	margin-left: 2px;
}

































body.focus menu h {
	display: none;
}

body.focus menu {
	height: 100vh;
}

body.focus ul#layer {
	overflow: hidden;
}

body.focus ul#layer li a {
	padding-left: 8px;
}



body.focus ul#layer + ul.button-list {
	display: none;
}

body.focus page#page-tool + page {
	display: none;
}


body.focus p#page-history {
	display: none;
}

body.focus page#page-file > p:first-child {
	display: none;
}

tray {
	height: 320px;
	border-top: 1px solid var( --color-border );
}


tl {
	flex-grow: 0;
	height: 32px;
	line-height: 32px;
}

tl ~ page:not([active]) {
	display: none !important;
}

menu > page {
	flex-grow: 1;
}

page#page-history > panel-body {
	flex-grow: 1;
}



body.focus menu tl {
	display: none;
}





div.canvas {
	background-attachment: fixed;
}

main-body {
	overflow: hidden;
}

div.canvas {
	overflow: auto;
}






html {
	/* --color-link: #07D; */
	--color-link: #F6E;
}











menu page p {
	overflow: hidden;
}

menu page p > label + span {
	width: 0;
}

button {
	padding: 0 8px;
	line-height: 32px;
	margin-left: 2px;
}

button.ok,
button.cancel {
	background: var( --color-link );
	color: #FFF;
	float: right;
}

button.ok:hover,
button.cancel:hover {
	background: #000;
}

button.cancel:hover {
	/* background: #E81123; */
}

button.ok:hover:active,
button.cancel:hover:active {
	transform: scale( 0.96 );
}





menu#menu-none {
	margin: auto;
}

menu page p {
	line-height: 40px;
	padding-right: 0;
}


menu#menu-none page {
	padding-right: 8px;
}




input[type=number] {
	text-align: right;
	border: 1px solid var( --color-link );
	margin-top: 4px;
	line-height: 32px;
	height: 32px;
}

menu page h,
menu page p {
	padding-left: 0;
}

menu page {
	padding-left: 8px;
}

input[type=text] {
	line-height: 32px;
	border: 1px solid var( --color-link );
	margin: 4px 0;
	display: block;
	width: 100%;
	padding: 0 8px;
	height: 32px;
}

input,
input::placeholder {
	color: var( --color-link );
}

input[type=range] {
	height: 32px;
	margin-bottom: 8px;
}

select {
	border: 1px solid;
	height: 32px;
	margin-top: 4px;
	line-height: 32px;
}


select:not([disabled]) {
	border-color: var( --color-link );
	color: var( --color-link );
}

::selection {
	background: var( --color-link );
	color: #FFF;
}

body.app-overlay-show > *:not(top) {
	opacity: 0.2;
	/* filter: grayscale(1) blur(2px); */
	filter: grayscale(1);
	/* transition: filter 0.1s linear; */
	pointer-events: none;
}

error {
	color: #AAA;
	display: block;
	text-align: center;
	line-height: 64px;

}

menu > page#page-file-open {
	display: flex;
	flex-direction: column;
}

ul.tree {
	line-height: 40px;
	min-height: 320px;
    max-height: 320px;
    overflow-y: scroll;
	overflow-x: hidden;
}

page#page-file-new ul > li[disabled] > a {

}

ul.tree > li > a:hover {
	background: var(--color-bg-hover);
}

ul.tree > li > a:active {
	background: var(--color-bg-active);
}

*[disabled] {
	filter: grayscale(1);
	color: #AAA !important;
}

ul.tree > li > a {
	margin: 0 -8px;
	color: var( --color-link );
}

div.clear::after {
	content: "";
	display: block;
	clear: both;
	margin-bottom: 8px;
}

menu input + h:not(:first-child) {
	border-top: 0;
}

menu#menu-none > page {
	display: none;
}

menu#menu-none > page {
	display: none;
}

input, ul.tree {
	font-family: 'consolas', 'Courier New', Courier, monospace
}

body.file-open menu#menu-none > page#page-file-open {
	display: block;
}

body.file-import menu#menu-none > page#page-file-import {
	display: block;
}

menu#menu-none > page {
	border-top: 0;
}

ul.tree {
	margin-left: -8px;
}

ul.tree > li > a {
	padding-left: 16px;
}

label + a,
label + span > a {
	color: var( --color-link );
	cursor: pointer;
}

label + a:hover,
label + span > a:hover {
	text-decoration: underline;
}


page {
	display: block;
	transition: transform 0.2s ease-in, opacity 0.2s linear;
	opacity: 1.0;
}

page.prev {
	transform: translate( -32px, 0 ) !important;
	opacity: 0.0;
	pointer-events: none;
}

page.next {
	transform: translate( 32px, 0 ) !important;
	opacity: 0.0;
	pointer-events: none;
}

pane {
	display: block;
	position: relative;
	/* height: 320px; */
	flex-grow: 1;
	margin: 0 -8px;
}

pane > page {
	position: absolute;
	top: 0;
	left: 0;
	width: 260px;
	border-top: 0 !important;
}

pane > page p:first-child {
	border-top: 0;
}

menu page p {
	margin-bottom: 0;
}











body:not( .file-edit ) menu#menu,
body:not( .file-edit ) main,
body:not( .file-edit ) side,
body:not( .file-edit ) top traffic {
	display: none;
}

body.file-edit menu#menu-none {
	display: none;
}

body.file-none menu#menu-none > page {
	display: none;
}

body.file-new menu#menu-none > page#page-file-new {
	display: block;
	display: flex;
	flex-direction: column;
}

pane {
	width: 260px;
}

menu page p {
	padding: 0 8px;
}

:not(:root):fullscreen::backdrop {
    background: #FFF;
}
