h {
	flex-shrink: 0;
	display: flex;

	margin-top: -1px;
	padding: 0 16px;
	padding-right: 0;
	padding: 0;

	height: 32px;
	line-height: 30px;

	border: 0 solid #666;
	border-width: 1px 0;
	border-color: transparent;
}

h > div:first-child {
	flex-grow: 1;
	padding: 0 16px;
}

h > a {
	/* padding: 0 8px; */
	margin-right: 8px;
	/* line-height: 30px; */
	color: var( --color-link );
	cursor: pointer;
}

h > a:hover,
h > a:active {
	text-decoration: underline;
}
