html {
	color:              #444;
	--color-border:     #444;
	--color-bg:         #FFF;
	--color-bg-hover:   #FFE8FC;
	--color-bg-active:  #FFD1FA;
	--color-fg-active:  #F6E;
}

body {
	background: #FFF;
}

top, main, menu, side, main > * {
	background: var( --color-bg );
}


/*  */

top > ul > li > a:hover {
	background: var( --color-bg-hover );
}

top > ul > li > a[disabled] {
	color: #AAA;
}

top > ul > li.active > a {
	background: #000;
	color: #FFF;
}

traffic > a:hover {
	background: #000;
	color: #FFF;
}

top > ul > li > ul > li > a:hover {
	background: var( --color-bg-hover );
}

top > ul > li > ul > li > a[disabled] {
	color: #AAA;
}

top > ul > li > ul > li > a[disabled]:hover {
	background: #F2F2F2;
}

top > ul > li > ul > li > a:not( [disabled] ):active {
	background: #FFD1FA;
	color: #000;
}

li.b {
	color: #07D;
}

#a-layer-close:not( :hover ):not( :active ) {
	color: #C00;
}

panel.panel-canvas > h {
    border-color: #666;
}



div.box {
	border-color: #F6E;
}

main:not( .layer-focus ) ul.layer-list > li.selected:not( .active ) > a,
ul.layer-list > li > a:hover:not( :active ), ul.layer-list > li > a:hover:not( :active ) + a {
	background: var( --color-bg-hover );
}

ul.layer-list > li.active > a:first-child,
ul.layer-list > li.active > a:first-child + a {
	background: #FFD1FA;
}

ul.layer-list > li.active {
	color: #000;
}

ul.layer-list > li.active > a:first-child {
	background: #FFD1FA;
}

ul.layer-list > li:not( .active ) > a:hover {

}

ul.layer-list > li {
	border-color: #FFF;
}


top > ul > li > ul {
	background: #FFF;
	border-color: #000;
}


traffic > a.active {
	background :#000;
	color: #FFF;
}
